.aside-menu-section {
    ul {
      li {
        position: relative;
  
        a {
          display: flex;
          align-items: center;
          position: relative;
          transition: color 0.3s ease;
        }
  
        .fa-chevron-right {
          opacity: 0;
          transform: translateX(-10px);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }
  
        &:hover .fa-chevron-right {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  